@import url("https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,600");
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,300,300italic);
/*
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,700&subset=latin,latin-ext");
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite,
code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure,
footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label,
legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, section, samp,
small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr,
ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 0;
  font-family: 'Open Sans', sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  max-width: 1280px;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
  clear: both;
}

h2 {
  font-size: 2em;
  margin: .75em 0;
}

nav {
  position: fixed;
  top: 30px;
  left: 25vw;
  max-width: 1280px;
}

nav .navgation {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95em;
  color: black;
  margin-left: 80px;
  margin-top: 5px;
  display: inline;
}

nav #works p {
  font-family: "Exo 2", sans-serif;
}

nav a {
  transition: background-color 0.8s, color 0.8s;
  color: #636363;
  letter-spacing: 1.5px;
  text-decoration: none;
}

nav a:hover {
  background-color: black;
  color: white;
}

nav #logo {
  font-family: 'Great Vibes', cursive;
  font-size: 1.8em;
  position: fixed;
  top: 15px;
  left: 15px;
}

nav #aya a {
  text-decoration: none;
}

header {
  font-family: 'Open Sans', sans-serif;
  height: 70px;
  width: 100vw;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
}

#container {
  display: none;
}

main {
  width: 1446.4px;
  /************************************************/
}

main #blank {
  height: 934px;
  width: 1446.4px;
}

main #blank img {
  width: 100%;
  padding-left: 0vw;
}

main #main_back {
  width: 1446.4px;
  height: 825px;
}

main #main_back img {
  width: 100%;
  position: fixed;
  background-size: cover;
  z-index: -2;
}

main #work_part {
  background-color: black;
  height: 1500px;
}

main #works {
  margin: 0;
  padding: 0;
  display: inline;
  /* Safari */
}

main #works img {
  width: 49.85%;
  height: 33.33%;
  opacity: 1;
  z-index: 1;
  padding-bottom: 4px;
  overflow: auto;
  transition: all 0.3s;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

main #works img:hover {
  width: 48%;
  height: 33%;
  opacity: 0.3;
}

main .home_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  color: white;
  display: inline;
  position: absolute;
  text-align: center;
  margin-left: 320px;
  margin-top: 30px;
  letter-spacing: 1px;
}

main #title_image img {
  width: 1446.4px;
  height: 330px;
}

main #title_sound {
  font-size: 50px;
  padding: 60px;
  font-family: "Exo 2", sans-serif;
  color: black;
  text-align: center;
}

main #statement {
  width: 640px;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

main #ms2_image {
  margin: 50px 300px;
}

main #andrew {
  width: 60vw;
  margin-left: auto;
  margin-top: 30px;
}

main #hands {
  width: 50vw;
  margin-left: 80px;
}

main iframe {
  width: 60vw;
  height: 550px;
  margin-top: 60px;
}

#column-baseline-grid {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 3111px;
}

.all-grids {
  background-image: url("../img/modular-grid.png"), linear-gradient(90deg, rgba(200, 0, 0, 0.2) 60px, transparent 0px), linear-gradient(0deg, transparent 95%, rgba(56, 255, 255, 0.8) 100%);
  background-position: center top, 0% 0%, 0% 0%;
  background-size: auto auto, 80px 100%, 100% 24px;
  background-attachment: scroll, fixed, fixed;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-color: transparent, transparent, transparent;
}

.modular-grid {
  background-image: linear-gradient(90deg, rgba(200, 0, 0, 0.2) 60px, transparent 0px), linear-gradient(0deg, transparent 95%, rgba(56, 255, 255, 0.8) 100%);
  background-size: 80px 100%, 100% 24px;
}

.column-grid {
  background-image: linear-gradient(90deg, rgba(200, 0, 0, 0.2) 60px, transparent 0px);
  background-size: 80px 100%;
}

.baseline-grid {
  background-image: linear-gradient(0deg, transparent 95%, rgba(56, 255, 255, 0.8) 100%);
  background-size: 100% 24px;
}

.user-supplied-bg-image {
  background-image: url("../img/modular-grid.png");
  background-position: center top;
  background-size: auto auto;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-color: transparent;
}
