#blackLayer{
	top: 0;
	left:0;
	position: fixed;
	display: none;
	background: black;
	opacity: 0.5;
	width: 100%;
	height:100%;
	z-index: 10;

}

#modal{
	position: absolute;
	top: -1000px;

	margin :{
        top: 10%;
        left: 20%;
        right: 20%;
	}

	display: none;
	background: white;
    font :{
        size: 2vw;
        family: Arial;
    }
	width: 60%;
	height: 50%;
	// transition : 500ms ease-in;
	z-index: 20;
}

@media only screen and (max-width: 736px){
    nav > ul{
    	visibility: hidden;
    	position: fixed;
        top: 0;
        left: -500px;
        z-index: 50;
    	transition: left 500ms ease-in-out;
    }
}

@media only screen and (min-width: 736px){
    nav > ul{
    	visibility: hidden;
    	position: fixed;
        top: -200px;
    }
}

.showSideTray {
	visibility: visible;
	position: fixed;
    top: 80;
    left: 0;
    transition: left 500ms ease-in-out;
}


