#myModal {
	position: fixed;
	top: 0;
	left: 0;
	width: $full-width;
	height: $full-height;
	background: rgba(20, 150, 200, 0.7);
	display: none;
	z-index: 10;

}

#modalFront{
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
  	bottom: 0;
  	left: 0;
	padding: 45px;
	width: $full-width/2;
	height: $full-height/2;
	background-color: #c3c3c3;
	font-size: 30px;
	color: #000;
	display: none;
	z-index: 20;
}


