//
// Fonts
//
// Import any fonts here, since they will be used by the entirety of this project.
//
@import url("https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,600");
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,300,300italic);
$pacifico: 'Pacifico', cursive;
$raleway: 'Raleway', sans-serif;
$Exo: 'Exo 2', sans-serif;
